<!doctype html>
<html amp lang="en">
<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <title>Ever Clear Cleaning Service</title>
  <link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "Open-source framework for publishing content",
      "datePublished": "2015-10-07T12:02:41Z",
      "image": [
        "logo.jpg"
      ]
    }
  </script>
  <style amp-boilerplate>
    body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
  </style>
  <noscript>
    <style amp-boilerplate>
      body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    </style>
  </noscript>
</head>
<body>
  <div class="contact-banner">
    Contact us at 123-456-7890
  </div>
  <header>
    <h1>Ever Clear Cleaning Service</h1>
    <h2>Proudly Serving Mesa County</h2>
    <nav>
      <ul>
        <li>
          <a href="#top" class="splash-nav-el">
            Home
          </a>
        </li>
        <li>
          <a href="#services" class="services-nav-el">
            Our Services
          </a>
        </li>
        <li>
          <a href="#about-us" class="about-us-nav-el">
            About Us
          </a>
        </li>
        <li>
          <a href="#pricing" class="pricing-nav-el">
            Pricing
          </a>
        </li>
        <li>
          <a href="#contact-us" class="contact-us-nav-el">
            Get in Touch!
          </a>
        </li>
        <li>
          <a href="#blog" class="blog-nav-el">
            Tips from The Pros
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="splash-container">
      <h2>Your Weekend is Too Valuable to Spend Cleaning Windows</h2>
      <h3>The Western Slope's Cleaning Experts for Your Windows, Solar Panels, Gutters and More!</h3>
    </section>
    <section class="services-container">
      <div class="services-title">
        <h1>Services</h1>
      </div>
      <div class="service-card">
        <h2>Window Cleaning</h2>
        <p>
          Utilizing only highly filtered and de-ionized water, we clean your windows with no chemicals! We can go anywhere up to 3 stories high with our water-fed pole. We completely remove the dirt, and only clean water is left to evaporate. This makes for a lasting shine with no soap residue that mixes with rain to stain at a later date. We love residential customers as well as commercial customers. Everyone can benefit from a better looking home or business!
        </p>
      </div>
      <div class="service-card">
        <h2>Solar Panel Cleaning</h2>
        <p>
          Solar panels get much less effective when they get dirty. What looks like even just a small coating of dust makes solar panels less effective, decreasing the amount of energy they can produce for you. What is worse, is that the companies that sell you these only test completely clean solar panels when projecting energy production of the panels. 
        </p>
      </div>
      <div class="service-card">
        <h2>Construction Window Clean Up</h2>
        <p>
          Cleaning up windows after construction is the last thing you want to do. So let us do it for you! We remove any tape, stickers, paint, stucco, and other construction debris. That way, the windows look brand new like they should!
        </p>
      </div>
      <div class="service-card">
        <h2>Awning Cleaning</h2>
        <p>
          Cleaning your awning lengthens its life and, more importantly, is a HUGE step in improving how a property looks. This is even more paramount for commercial customers, where a clean awning can make a your store that much more inviting and bring more customers in. 
        </p>
      </div>
      <div class="service-card">
        <h2>Pressure Washing</h2>
        <p>
          Pressure washing your house really makes the paint look how it naturally should, nearly as good as a repaint and at much, much less the cost. We can pressure wash houses, decks, deck furniture, patios, driveways, garage doors, and more! Just get in touch with us and we can talk more!
        </p>
      </div>
      <div class="service-card">
        <h2>Gutter Cleaning</h2>
        <p>
          Every home owner knows they have to clean the gutters, but it's such a dreadful task that few people do it regularly. Luckily, we are happy to do it for you, preventing termites and pests from entering your home, preventing damage to your roof, walls and foundation, and avoiding the need for expensive repairs. 
        </p>
      </div>
    </section>
    <section class="about-us-container">
      <div class="about-us-title">
        <h1>About Us</h1>
      </div>
      <div>
        <div class="about-us-image"></div>
        <div class="about-us-text">
          We are a family-owned, local company that specializes in residential and commercial window cleaning and other forms of cleaning related property maintenance. We 
        </div>
      </div>
    </section>
    <section class="pricing-container">
    
    </section>
    <section class="contact-us-container">
    
    </section>
    <section class="blog-container">
      
    </sections>
  </main>
  <footer>

  </footer>

</body>
</html>
